/* fonts */
#title {
    font-family: 'Great Vibes', cursive;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.25em;
}

/* navbar hover */

.banner-link:hover {
    text-decoration: bold;
    font-size: 1.25em;
}

/* link coloring */

a:link, a:visited {
    color: #843a4e;
}

/* background fade */ 
#color-fade {
    background-image: linear-gradient(to right bottom, #f7e2e8, #f7eaf1, #f8f1f7, #faf8fc, #ffffff);
}
    
/* shadows for cards and figures */

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.escape-bg-fade {
    background-color: white;
}
