/* navbar hover */

.banner-link:hover {
    text-decoration: bold;
    font-size: 1.25em;
}

/* background fade */ 
#color-fade {
    background-image: linear-gradient(to bottom, #e4c8cf, #e4d2db, #e5dce4, #e8e5ea, #eeeeee);
}
    
/* shadows for cards and figures */

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.escape-bg-fade {
    background-color: white;
}
